{% extends 'theory/base.html' %}
{% block content %}

<div class="container text-center">
    <h1>Контрольные вопросы</h1>
    <p>Блок контрольных вопросов - это удобный и эффективный инструмент для тестирования знаний и
        проверки уровня подготовки. В этом блоке Вы найдете разнообразные задания, покрывающие различные темы,
        от базовых до продвинутых. Блок контрольных вопросов содержит как теоретические, так и практические задания,
        позволяя ученикам оценить свой уровень понимания материала. Контрольные вопросы помогут прокачать умение
        решения математических задач, повысить уверенность в себе и подготовиться к экзаменам.</p>
</div>

{% for question in questions %}
<a href="{% url 'questions:detail' question.id %}"><h2>{{question.title}}</h2></a>
{% endfor %}

{% endblock %}