{% extends 'theory/base.html' %}
{% block content %}

<br>
<div class="container text-center">
    <h1>Задачи</h1>
    <br>
    <p><font size="6">Блок задач по математике представляет собой увлекательную коллекцию задач,
      которые помогут развивать логическое мышление и улучшать навыки решения математических проблем.
      В этом блоке Вы найдете широкий спектр заданий, начиная с простейших математических головоломок,
      и заканчивая сложными уровнями, которые предложат опытным математикам задуматься. Наши задачи позволят
      Вам насладиться увлекательным миром математики, остроумно находить новые решения и получать
      удовольствие от каждого решенного задания.</font></p>


<br>
<br>
<br>

    <style>
   .btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 5px; /* Скругляем уголки */
   }
   </style>

{% for task in tasks %}
<a href="{% url 'tasks:detail' task.id %}" class="btn"><h2>{{task.title}}</h2></a>
    <br>
    <br>
    <br>
{% endfor %}

</div>

{% endblock %}