{% extends 'theory/base.html' %}
{% block content %}

<br>
<div class="container text-center">
    <h1>Добро пожаловать!</h1>
    <br>
    <p><font size="6">Добро пожаловать на сайт, посвященный математике!
        Здесь вы найдете теорию, контрольные вопросы и практические задания по различным темам.
        Мы разработали материалы для учебы с нулевого уровня до различных ступеней обучения,
        включая школьные и университетские программы.
        На главной странице вы увидите разделы теории, контрольных вопросов и практики.
        Вы можете нажать на любой из них, чтобы получить доступ к соответствующим материалам.
        Мы заинтересованы в том, чтобы облегчить вашу самостоятельную подготовку, поэтому теория изложена так,
        как будто вы разговариваете об этой теме с другом. Никаких сухих формул и занудных лекций!
        Знания по математике пригодятся вам в любой области деятельности, будь то оценка эффективности бизнеса,
        инвестирование в финансовые инструменты, моделирование процессов в науке и технике и т.д.
        Начните изучение математики сейчас!</font></p>

<br>
<br>
<br>
    <style>
   .btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 3rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 5px; /* Скругляем уголки */
    margin-left: 30px;
   }
   </style>

    <a href="{% url 'theory:theory' %}" class="btn">Теория</a>
    <a href="{% url 'questions:questions' %}" class="btn">Контрольные вопросы</a>

</div>

{% endblock %}