{% extends 'theory/base.html' %}
{% block content %}

<div class="container text-center">
    <h1>Теория</h1>
    <br>
    <p><font size="6">Блок "Теория" на нашем сайте представляет собой ценный инструмент для всех,
    кто стремится получить более глубокое понимание различных математических концепций.
    Здесь вы найдете четкое объяснение основных теорем и законов.
    Благодаря наглядной форме представления материала и легкому языку,
    вы легко сможете вникнуть и научиться применять теорию на практике.
        Приятного обучения!</font></p>


<br>
<br>
<br>

{% for theory in theorys %}
<a href="{% url 'theory:detail' theory.id %}"><h2>{{theory.title}}</h2></a>
{% endfor %}

</div>

{% endblock %}