{% extends 'theory/base.html' %}
{% block content %}

<div class="container text-center">
    <h1>Теория</h1>
    <p>Блок "Теория" на нашем сайте по математике представляет собой ценный инструмент для всех,
    кто стремится получить более глубокое понимание различных математических концепций.
    Здесь вы найдете четкое объяснение основных теорем и законов.
    Благодаря наглядной форме представления материала и легкому языку,
    вы легко сможете вникнуть в сложностях математики и научиться применять ее на практике.
    Приятного обучения!</p>
</div>



{% for theory in theorys %}
<a href="{% url 'theory:detail' theory.id %}"><h2>{{theory.title}}</h2></a>
{% endfor %}

{% endblock %}